/* Footer styles */
footer {
    background-color: #01497C;
    color: #fff;
    padding: 2rem;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 66%;
    margin: 0 auto 4rem auto;
  }
  
  .footer-section h4 {
    margin-bottom: 1rem;
  }
  
  .footer-section ul li {
    margin-bottom: 0.5rem;
  }

  .footer-section ul li img {
    width: 50px; /* Set the size of the icons */
    margin-right: 8px; /* Add space between the icon and text */
    height: auto;
    display: inline;
  }
  
  .footer-bottom {
    text-align: center;
  }

  .footer-container{
    padding: 4rem;
  }

  @media (max-width: 700px) {
    .footer-content {
      max-width: none;
    }
  }